@model IEnumerable<Practical_2.Models.StudyGroup>

@{
    ViewBag.Title = "List of People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of People</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myLink)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                <a href="@Url.Content(item.myLink)" class="btn btn-primary">LINK</a>
            </td>
        </tr>
    }
</table>

